@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Steam Profile</h2>

@* @if (Model.SteamProfile != null)
{
    <div>
        <h3>@Model.SteamProfile.Personaname</h3>
        <img src="@Model.SteamProfile.AvatarFull" alt="Steam Avatar" width="100" />
        <p>Steam Profile URL: <a href="@Model.SteamProfile.Profileurl" target="_blank">@Model.SteamProfile.Profileurl</a></p>
    </div>
}
else
{
    <p>No Steam profile found or not linked.</p>
} *@